<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" type="image/icon" href="/favicon.ico">
{{ if page.title }}
<title>{{ page.title }}</title>
{{ end if }}
<link rel="stylesheet" href="/css/syntax.css">
<link rel="stylesheet" href="/css/main.css">


  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking', true]);
    _paq.push(['enableHeartBeatTimer']);
    _paq.push(['trackAllContentImpressions']);
    (function () {
      var u = "//web.qin.wf/";
      _paq.push(['setTrackerUrl', u + 'js/index.php']);
      _paq.push(['setSiteId', '5']);
      var d = document,
        g = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'js/index.php';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <noscript>
    <p><img src="//web.qin.wf/js/index.php?idsite=5" style="border:0;" alt=""></p>
  </noscript>

</head>
<body>

